//@import "../assets/ace/css/less/variables";

#content {
  padding-bottom: 100px;
}

#logo {
  display: inline-block;
  width: 155px;
  margin-top: 6px;
  margin-left: 29px;
}

.login-info {
  h3 {
    display: block;
    float: left;
    margin: 6px 0 0 13px;
  }
  i {
    float: left;
    margin: 13px 0 0 12px;
  }
}

.minified #left-panel {
  h3 {
    display: none;
  }
}

#code4-loading {
  position: fixed;
  right: 6px;
  top: 96px;
  z-index: 1000;

  transition: all 1s;
  -webkit-transition: all 1s; /* Safari */

  &.code4-hidden {
    right:-135px;
  }

  &.code4-shown {
    right:0px;
  }

  &:hover {
    opacity: .5;
  }
}

.btn {
  //padding: 2px 6px 3px;
}

.smart-form footer .btn {
  float: left;
}

div.dataTables_length {
  top: 2px;
  right: auto;
}

table.dataTable {
  label {
    margin-bottom: 0;
  }
}

.datagrid_filter {
  //display: inline-block!important;
  float: left;
  input { width: 150px!important; height: 34px!important; }
}

.filter {
  .btn-group {
    float: left;
    height: 34px;
    button {
      padding: 4px 8px 6px;
    }
  }
}

.filters-row {
  position: absolute;
  top: -39px;
  left: 20px;
  right: 20px;
  .search-btn {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0;
    margin-left: -2px!important;
  }
  .col {
    padding-left: 0;
  }
}

.tags-row {
  min-height: 0;
  padding: 0 5px;
  .btn { margin: 5px 0; margin-right: 5px; }
}

.tools {
  padding-left: 10px;
  .btn-group { padding-top: 2px; }
  .btn { padding-left: 5px; }
}

div.dt-top-row {
  height: auto;
  min-height: 0px;
}

.dt-row.dt-bottom-row {
  overflow: visible;
}

.dataTables_length {
  .smart-form {
    float: left;
  }
  .total {
    float: left;
    margin: 9px;
  }
}

.note.c4error {
  margin-top: 0px;
  color: red;
}