@import "../assets/ace/css/less/variables";

.code4-time {
  color: @ace-white;
  font-size: 9px;
  margin: 5px;
}

.code4-date {
  color: @ace-white;
  line-height: 13px;
  margin: 9px 0 0 0;
  text-align: right;
  font-size: 10px;
}

//Fixes
.notifications-dropdown {
  width: auto!important;
  min-width: 220px;
}
.notification-close {

  a {
    color: @ace-purple;

    &:hover , &:focus {
      text-decoration: none!important;
      color:@ace-nav-light-purple!important;
      background: transparent!important;
    }

  }

}